<!-- <ion-header>
  <ion-toolbar>
    <ion-title>welcomepage</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="center">
      <!-- <ion-slides #slides pager="true" [options]="slideOpts" (ionSlideDidChange)="ionSlideChange(slides)"> -->
      <ion-slides pager="true" >
        <ion-slide class="step-one">
          <img class="imgdd" margintop20 src="https://i.pinimg.com/originals/b9/7d/c2/b97dc288d71e7938c1ce8b7faacdc9ac.gif"/>
          <p>Hi welcome to QuadEnt Sytem Solutions </p>
        </ion-slide>

        <ion-slide class="step-one">
          <img class="imgdd" margintop20 src="https://i.pinimg.com/originals/b9/7d/c2/b97dc288d71e7938c1ce8b7faacdc9ac.gif"/>
          <p>Hi welcome to QuadEnt Sytem Solutions</p>
        </ion-slide>

        <ion-slide class="step-one">
          <img class="imgdd" margintop20 src="https://i.pinimg.com/originals/b9/7d/c2/b97dc288d71e7938c1ce8b7faacdc9ac.gif"/>
          <p>Hi welcome to QuadEnt Sytem Solutions</p>
        </ion-slide>

      </ion-slides>

      <ion-button class="tour-button" (click)="getStarted()" color="secondary">
      <!-- <ion-button> -->
        <div class="parent">{{buttonName}}</div>
      </ion-button>

  </div>

</ion-content>
