<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
      <ion-title>Item-out</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
    <ion-card>
      <ion-col>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <ion-item hidden>
            <ion-label position="floating">Product Count:</ion-label>
            <ion-input type="number" [(ngModel)]="data.id"  name="id" hidden></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Item-Out Value:</ion-label>
            <ion-input type="number" [(ngModel)]="data.item_out" name="item_out"></ion-input>
          </ion-item>

          <ion-button fill="outline" expand="block" color="primary" class="ion-margin-top" type="submit">
            {{ isitemOut ? 'Out': 'Submit'}} now</ion-button>
        </form>
      </ion-col>
    </ion-card>

    <ion-card>
      <ion-col>
        <form>



          <ion-item>
            <ion-label position="floating">Item Name:</ion-label>
            <ion-input [(ngModel)]="data.item_name" name="item_name" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Item Description:</ion-label>
            <ion-input [(ngModel)]="data.item_desc" name="item_desc" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Item Total Count:</ion-label>
            <ion-input [(ngModel)]="data.item_count" name="item_count" disabled></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Item Date Added:</ion-label>
            <ion-input [(ngModel)]="data.date_added" name="date_added" disabled></ion-input>
          </ion-item>




        </form>
      </ion-col>
    </ion-card>
</ion-content>
