<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content color="secondary">

  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col *ngFor="let productsout of productsouts">
          <p class="ion-text-left">Item Out Per Day</p>
          <h2 class="ion-text-left">{{productsout.totalout | number: '1.2-2'}}</h2>
        </ion-col>
        <ion-col  *ngFor="let productsin of productsins">
          <p class="ion-text-right">item In Per Day </p>
          <h2 class="ion-text-right">{{productsin.totalin | number: '1.2-2'}}</h2>
        </ion-col>
      </ion-row>
      <ion-col *ngFor="let product of products">
        <p class="ion-text-center">Total Count of Product</p>
        <h2 class="ion-text-center">{{product.totals | number: '1.2-2'}}</h2>
      </ion-col>
    </ion-card-content>
  </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title>Item's Chart</ion-card-title>
        <ion-card-subtitle *ngFor="let product of products">
         Obtained Item Count {{product.totals | number: '1.2-2'}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <canvas id="myChart" width="100" height="100">
              {{Chart}}
        </canvas>

      </ion-card-content>
    </ion-card>

</ion-content>
